body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url(Images/bg1.png);
    background-size: cover;
    background-repeat: repeat; 
}

/*Header - Navbar*/

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background: white;
    margin: 0 0 0 80px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;  
    margin-left: 300px;
}

.logo img {
    background: white;
    position: fixed;
    padding:5px;
    height: 70px;
    width: 70px;
}

nav ul li {
    float: left;  
    text-align: center;
    font-size: 16px;
    width: 120px;
    margin: 15px;
    padding: 15px;
    background: white;
    font-family: cursive;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.active, nav ul li:hover {
    background: rgb(59, 185, 235);
    border-radius: 3px;
}

/* Main Contents*/

.main {
    color: white;
    padding: 240px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
}

.main i{
    color:black;
    margin-right: 4px;
}

.menu .fa {
    margin-right: 5px;
}

.profile-img {
    float: right;
    margin-top: -80px;
    margin-right: -150px;
}

.profile {
    font-size: 16px;
    color: white;
}

h3 {
    color: white;
}

.profile-info, .p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 20px;
    font-size: 14px;
}

/*Features */

h2 {
    color: white;
    text-align: left;
    margin-left: 10px;
    padding-top: 120px;
    margin-top: 0px;
}

.features {
    color:white;
    padding-bottom: 229px;
    height: 250px;
    display: flex;
    flex-direction: row;
    text-align: center;  
}

.features figure{
    margin:auto;
    width:350px;
}

.features figure img {
    width: 300px;
    height: 200px;
}

.features figure img:hover {
    height: 300px;
    width: 400px;
    overflow: hidden;
}

h4 {
    color: white;
    text-align: center;
}

/*Contact page*/
.emailicon img {
    height: 15px;
    width: 25px;
}
.emailicon {
    padding: 70px 0 58px 0;
    text-align: center;
    text-decoration: none;
}

.wrapper {
    margin-left: 30px;
}

.wrapper h2 {
    padding-top: 100px;
    text-align: left;
    margin-left: -10px;
    margin-bottom: 20px;
    color: white;
}
.wrapper .input_field {
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
    border: 1px solid black;
    padding: 10px;
}

.wrapper textarea {
    height: 50px;
}

.wrapper .btn input[type="submit"],
.wrapper .btn input[type="reset"] {
    border:1px solid black;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    background-color:  white;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

.wrapper #error_message {
    margin-bottom: 20px;
    padding: 0px;
    text-align: left;
    font-size: 14px;
    transition: all 0.5s ease;
}

/*Footer*/
footer {
    color: black;
    padding: 20px;
    text-align: center;
}
